@font-face{
	src: url(./fonts/AvenirNextCyr-Regular.woff);
	font-family: AvenirNext;
	font-weight: 400;
}

@font-face{
	src: url(./fonts/OpenSans-Bold.ttf);
	font-family: OpenSans;
	font-weight: 700;
}

@font-face{
	src: url(./fonts/OpenSans-Regular.ttf);
	font-family: OpenSans;
	font-weight: 400;
}

@font-face{
	src: url(./fonts/ProximaNova-Reg.ttf);
	font-family: ProximaNova;
	font-weight: 400;
}


@font-face{
	src: url(.fonts/Montserrat-Regular.ttf);
	font-family: Montserrat-Regular;
	font-weight: 400;
}

@font-face{
	src: url(./fonts/OpenSans-Light.ttf);
	font-family: OpenSans;
	font-weight: 100
}

.title{
	font-family: AvenirNext, sans-serif;
	font-weight: 300;

}

.subtitle{
	font-family: OpenSans-Bold, sans-serif;
	font-weight: 700;
}

.benefits_title{
	font-family: OpenSans-Regular, sans-serif;
	font-weight: 400;
}

.benefits_text{
	font-family: ProximaNova-Reg, sans-serif;
	font-size: 400;
}

.read_more{
	font-family: OpenSans-Regular, sans-serif;
	font-weight: 400;
}

.block_subtitle{
	font-family: Montserrat-Regular, sans-serif;
	font-weight: 400;
}

.block_title{
	font-family: OpenSans;
	font-weight: 100;
}

.block_text{
	font-family: OpenSans;
	font-size: 400;
}

.block_link{
	font-family: OpenSans-Regular, sans-serif;
	font-weight: 400;
}

.form{
	font-family: ProximaNova, sans-serif;
	font-size: 400; 
	color: #a7b3b9;
}

.menu{
	font-family: AvenirNext, sans-serif;
	font-weight: 300;
}